
<h4 ng-if="vm.auth.isAuthenticated()" style="text-align: center;">
    You are logged in! 


    <div class="container" ng-controller="AppCtrl" style="overflow-x:auto;">

      <div id="wrapper">
        <header><h1> </h1><h2>  </h2></header>

        <button id="addbutton" class="btn btn-primary" ng-model="addbtnPressed" ng-init="addbtnPressed = false" ng-click="addbtnPressed = true" ng-hide="addbtnPressed == true" style="float: left;">
          <span class="glyphicon glyphicon-plus"></span>
        </button>

        <form id="searchbox" class="form-inline">
          <div class="form-group" ng-hide="addbtnPressed == true">
            <label ></label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
          </div>
        </form>

        <p></p> 

        <table class="table" id="tableHeaderAdd">
          <tbody>
            <tr>
              <td ng-hide="addbtnPressed == false"><input class="form-control" placeholder="Title" ng-model="game.title"></td>
              <td ng-hide="addbtnPressed == false"><input class="form-control" placeholder="Platform" ng-model="game.platform"></td>
              <td ng-hide="addbtnPressed == false"><input class="form-control" placeholder="Genre" ng-model="game.genre"></td>
              <td ng-hide="addbtnPressed == false"><input class="form-control" placeholder="Price" ng-model="game.price"></td>
              <td ng-hide="addbtnPressed == false"><input class="form-control" placeholder="Comment" ng-model="game.comment"></td>  

              <td ng-hide="addbtnPressed == false"><button class="btn btn-primary" ng-click="addItem(); addbtnPressed = false">
                <span class="glyphicon glyphicon-floppy-disk"></span>
              </button></td>  

              <td ng-hide="addbtnPressed == false"><button class="btn btn-danger" ng-click="addbtnPressed = false">
                <span class="glyphicon glyphicon-remove"></span>
              </button></td>  
            </tr>
          </tbody>
        </table>

        <table class="table table-hover" id="tableData">
          <thead>
              <tr>
                <th scope="row">#</th>
                <th ng-click="sort('title')">
                  <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Title</th>
                <th ng-click="sort('platform')">
                  <span class="glyphicon sort-icon" ng-show="sortKey=='platform'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Platform</th>
                <th ng-click="sort('genre')">
                  <span class="glyphicon sort-icon" ng-show="sortKey=='genre'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Genre</th>
                <th ng-click="sort('price')">
                  <span class="glyphicon sort-icon" ng-show="sortKey=='price'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                Price ({{getTotal('price')}} SEK)</th>
                <th>Comment</th>        
              </tr>
          </thead>        

          <tr dir-paginate="gameobject in filteredGames = (gamelist|filter:search)|orderBy:sortKey:reverse|itemsPerPage:20" ng-click="edit(gameobject._id)"> 

            <td scope="row">
              {{$index + 1}}
            </td>
            <td ng-hide="editMode">{{gameobject.title}}</td>
            <td ng-hide="editMode">{{gameobject.platform}}</td>
            <td ng-hide="editMode">{{gameobject.genre}}</td>
            <td ng-hide="editMode">{{gameobject.price}}</td>
            <td ng-hide="editMode">{{gameobject.comment}}</td>

            <td ><input ng-show="editMode" class="form-control" ng-model="gameobject.title"></td>
            <td ><input ng-show="editMode" class="form-control" ng-model="gameobject.platform"></td>
            <td ><input ng-show="editMode" class="form-control" ng-model="gameobject.genre"></td>
            <td ><input ng-show="editMode" class="form-control" ng-model="gameobject.price"></td>
            <td ><input ng-show="editMode" class="form-control" ng-model="gameobject.comment"></td>

            <td><button ng-show="editMode" class="btn btn-info" ng-click="editMode = false; updateItem(gameobject)">
              <span class="glyphicon glyphicon-ok"></span>
            </button></td>                    

            <td><button ng-show="editMode" class="btn btn-warning" ng-click="editMode = false; resetToPrevRow(gameobject)" >
              <span class="glyphicon glyphicon-remove"></span>
            </button></td>

            <td><button ng-show="editMode" class="btn btn-danger" ng-click="editMode = false; deleteItem(gameobject._id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button></td>
            
            <td><button ng-hide="editMode" class="btn btn-warning" ng-click="editMode = true; editItem(gameobject)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button></td>

          </tr>

        </table>

        <dir-pagination-controls
          max-size="5"
          direction-links="true"
          boundary-links="true" >
        </dir-pagination-controls>  

        <ul>

       

      </div>

    </div>

</h4>


<h4 ng-if="!vm.auth.isAuthenticated()" style="text-align: center;">
	
	<p style="text-align:center;"><img src="assets/images/logo.png" alt="Logo" width="688" height="326"></p>

  	You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.
</h4>
